/* Base colors */
/* Context elements */
/* Parametric mixins to abstract specific vendor prefixes */
.inline {
  display: inline-block;
}
/* Imports */
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes vflip {
  to {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes vflip {
  to {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-o-keyframes vflip {
  to {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-ms-keyframes vflip {
  to {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@keyframes vflip {
  to {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-moz-keyframes vrestore {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes vrestore {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes vrestore {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes vrestore {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes vrestore {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
html.damp,
html.damp body {
  width: 100%;
  height: 100%;
  position: absolute;
}
.damp .uk-nav .amp128,
.damp .uk-nav .amp209,
.damp .uk-nav .amp208 {
  display: none;
}
.damp .black-shadow {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
}
.damp .busy-opacity {
  opacity: 0.5;
}
.damp .busy-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: transparent;
  cursor: wait;
  font-size: 200%;
  font-family: damp;
  text-align: center;
}
.damp .busy-panel:after {
  content: '\e803';
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.damp .errorBox {
  color: rgba(241, 80, 88, 0.8);
}
.damp body {
  font-family: 'titilliumregular', 'PT Sans', Arial, 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
  overflow: hidden;
  background: transparent url(images/bkg01.jpg) repeat 0 0;
  background-size: cover;
  color: #ffffff;
}
.damp #pageContent,
.damp .main,
.damp .panel {
  height: 100%;
}
.damp .title {
  margin: 5px 0;
  font-size: 200%;
}
.damp .ampon .title {
  color: lightgreen;
}
.damp .status {
  margin: 5px 20px;
  font-size: 130%;
}
.damp .ampon .status {
  color: lightgreen;
}
.damp .uk-offcanvas-bar {
  background: rgba(33, 33, 33, 0.9);
}
.damp .panel {
  color: rgba(255, 255, 255, 0.4);
  background: transparent;
  cursor: pointer;
  font-size: 200%;
  font-family: damp;
  padding-top: 20px;
  position: absolute;
  top: 0px;
}
.damp .panel.uk-button {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.damp .panel.uk-button:hover,
.damp .panel.uk-button:focus {
  background: rgba(38, 38, 38, 0.9);
}
.damp .panel.uk-button:hover,
.damp .panel.uk-button:focus {
  color: rgba(255, 255, 255, 0.8);
}
.damp .panel.uk-button.open:after {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.damp .leftpanel {
  left: 0px;
}
.damp .rightpanel {
  right: 0px;
}
.damp .leftpanel:after {
  content: '\e802';
}
.damp .rightpanel:after {
  content: '\e801';
}
.damp .content {
  position: relative;
  padding: 20px 60px;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 700px;
}
.damp #menu .label {
  margin: 10px 2px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
}
.damp #menu .label.ampon {
  color: green;
}
.damp #menu .label.selected {
  color: lightgreen;
}
.damp #menu .ampon:after {
  font-size: 120%;
  font-family: damp;
  content: '\e800';
  margin-left: 10px;
  display: inline-block;
}
.damp #infos .uk-nav {
  margin: 5px;
  cursor: default;
}
.damp #infos .name a,
.damp #infos .name a:visited {
  color: #fff;
  font-size: 120%;
}
.damp #infos .descr,
.damp #infos .tech,
.damp #infos .tubes {
  border: 1px solid #aaa;
  padding: 2px 3px;
}
.damp #menu .ampon.animate:after {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.damp .titlebox {
  margin-bottom: 20px;
}
.damp .titlebox-content {
  position: relative;
  height: 60px;
  overflow: visible;
  -webkit-transition: height ease 0.5s;
  -moz-transition: height ease 0.5s;
  transition: height ease 0.5s;
}
.damp #ampinfos {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.damp #history {
  margin-top: 10px;
}
.damp #selhist {
  width: 400px;
}
.damp #slidehist {
  margin-top: 10px;
  width: 1000px;
  height: 100px;
  display: inline-block;
  position: relative;
}
@font-face {
  font-family: 'damp';
  src: url('../font/damp.eot?5170121');
  src: url('../font/damp.eot?5170121#iefix') format('embedded-opentype'), url('../font/damp.woff?5170121') format('woff'), url('../font/damp.ttf?5170121') format('truetype'), url('../font/damp.svg?5170121#damp') format('svg');
  font-weight: normal;
  font-style: normal;
}
.black-shadow {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
}
.datepicker.transparent {
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  opacity: 0;
}
.datepicker-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
}
.datepicker {
  z-index: 111;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}
.datepicker .ui-datepicker.ui-widget-content {
  font-family: titilliumlight;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
}
.datepicker .ui-datepicker-title {
  font-weight: normal;
}
.datepicker .ui-datepicker-header.ui-widget-header {
  background: none;
  border: none;
  border-radius: 0px;
  padding: 1em 0;
}
.datepicker .ui-datepicker-header .ui-icon {
  background: none;
  border: none;
  width: 0px;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next,
.datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover,
.datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
  background: none;
  border: none;
  top: 1em;
  font-family: datepicker;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 0 0.6em;
  box-sizing: border-box;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover {
  left: 10px;
}
.datepicker .ui-datepicker-header .ui-datepicker-next,
.datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
  right: 10px;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev:after {
  content: '\e800';
}
.datepicker .ui-datepicker-header .ui-datepicker-next:after {
  content: '\e801';
}
.datepicker .ui-datepicker-calendar thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.datepicker .ui-datepicker-calendar td {
  padding: 0;
}
.datepicker .ui-datepicker-calendar .ui-state-default {
  border: none;
  background: none;
  color: inherit;
  text-align: center;
}
.datepicker .ui-datepicker-calendar .ui-state-default.ui-state-hover {
  color: #000000;
}
.datepicker .ui-datepicker-calendar .ui-state-default.ui-state-highlight {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
.datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.datepicker .ui-datepicker-calendar .ui-state-default.ui-state-highlight.ui-state-hover {
  color: #ffffff;
}
@font-face {
  font-family: 'datepicker';
  src: url('../font/datepicker.eot?21518755');
  src: url('../font/datepicker.eot?21518755#iefix') format('embedded-opentype'), url('../font/datepicker.woff?21518755') format('woff'), url('../font/datepicker.ttf?21518755') format('truetype'), url('../font/datepicker.svg?21518755#datepicker') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Modal styles */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}
.modal {
  position: fixed;
  z-index: 91;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.fade {
  top: -25%;
  -webkit-transition: opacity linear 0.3s;
  -moz-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
  -webkit-transition: top ease-out 0.3s;
  -moz-transition: top ease-out 0.3s;
  transition: top ease-out 0.3s;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .closebtn {
  margin-top: 2px;
  float: right;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.multiselect {
  color: rgba(255, 255, 255, 0.8);
  height: 35px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1em;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.multiselect.multiselect-active {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color ease 0.5s;
  -moz-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
}
.multiselect.readonly,
.multiselect.readonly input,
.multiselect.readonly .placeHolder {
  color: #888;
}
.multiselect input,
.multiselect .placeHolder,
.multiselect #textmeasure {
  background-color: transparent !important;
  flex: auto;
  border: 0px;
  z-index: 101;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: titilliumlight;
  font-size: 13px;
  display: -ms-inline-flexbox;
}
.multiselect #textmeasure {
  position: absolute;
  left: -999em;
  whiteSpace: nowrap;
  clear: both;
  display: block;
  visibility: hidden;
}
.multiselect input {
  padding: 0 2px 0 5px;
}
.multiselect .placeHolder {
  padding: 0 5px;
}
.multiselect-dropdown {
  max-height: 600px;
  overflow-y: auto;
}
.multiselect .multiselect-dropdown-button {
  width: 18px;
  height: 25px;
  padding-right: 2px;
  cursor: pointer;
}
.multiselect.readonly .multiselect-dropdown-button {
  cursor: default;
}
.multiselect .multiselect-dropdown-button:before {
  font-family: multiselect;
  content: '\e800';
  display: inline-block;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.multiselect.combobox-opened .multiselect-dropdown-button:before {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.multiselect[mode='datePicker'] .multiselect-dropdown-button:before {
  content: '\e801';
}
@font-face {
  font-family: 'multiselect';
  src: url('../font/multiselect.eot?26510891');
  src: url('../font/multiselect.eot?26510891#iefix') format('embedded-opentype'), url('../font/multiselect.woff?26510891') format('woff'), url('../font/multiselect.ttf?26510891') format('truetype'), url('../font/multiselect.svg?26510891#multiselect') format('svg');
  font-weight: normal;
  font-style: normal;
}
.contextmenu {
  z-index: 102;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity ease 0.2s;
  -moz-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s;
}
.contextmenu.transparent {
  opacity: 0;
  -webkit-transition: opacity ease 0.2s;
  -moz-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s;
}
ul.contextmenu {
  padding: 0px;
}
.contextmenu li {
  list-style: none;
  margin-top: 1px;
}
.contextmenu.waiting li:first-child {
  text-align: center;
  overflow: hidden;
}
.contextmenu.waiting li:first-child a {
  display: none;
}
.contextmenu.waiting li:first-child:before {
  color: #000;
  font-size: 18px;
  font-family: "fontello";
  content: '\e800';
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.contextmenu a,
.contextmenu a:hover {
  text-decoration: none;
  display: block;
  padding: 3px 2px 3px 5px;
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
}
.contextmenu a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
.contextmenu .contextmenu-item.hidden,
.contextmenu .contextmenu-item.filtered {
  display: none;
}
.contextmenu .contextmenu-item-active {
  background-color: rgba(0, 0, 0, 0.2);
}
.contextmenu .contextmenu-separator {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
.contextmenu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.titlebox {
  display: flex;
}
.titlebox .titlebox-title {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-family: camingodos_prolight;
  font-size: 1.35em;
  z-index: -1;
  box-sizing: border-box;
  margin-top: 8px;
  margin-right: 10px;
  flex: auto;
  display: -ms-inline-flexbox;
}
.titlebox .titlebox-button {
  width: 10px;
  height: 10px;
  padding-right: 2px;
  cursor: pointer;
  display: inline-box;
  font-family: "titlebox";
  font-size: 100%;
  -webkit-transition: transform ease 0.2s;
  -moz-transition: transform ease 0.2s;
  transition: transform ease 0.2s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.titlebox.titlebox-folded .titlebox-button {
  -webkit-transition: transform ease 0.2s;
  -moz-transition: transform ease 0.2s;
  transition: transform ease 0.2s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.titlebox-content {
  height: 300px;
  -webkit-transition: height ease 0.5s;
  -moz-transition: height ease 0.5s;
  transition: height ease 0.5s;
}
.titlebox-content.titlebox-folded {
  overflow: hidden;
  height: 0;
  -webkit-transition: height ease 0.5s;
  -moz-transition: height ease 0.5s;
  transition: height ease 0.5s;
}
@font-face {
  font-family: 'titlebox';
  src: url('../font/titlebox.eot?46113324');
  src: url('../font/titlebox.eot?46113324#iefix') format('embedded-opentype'), url('../font/titlebox.woff?46113324') format('woff'), url('../font/titlebox.ttf?46113324') format('truetype'), url('../font/titlebox.svg?46113324#titlebox') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-plus:before {
  content: '\e800';
}
