<style>
    .damp #template {
        position: relative;
        background: transparent url('templates/amp/images/807SRPP.png') no-repeat center bottom;
        width: 1100px;
        height: 635px;
        margin-left: auto;
        margin-right: auto;
    }

    .damp .gauge {
        position: absolute;
        top: 250px;
        width: 250px;
        height: 100px;
    }

    .damp .stepindicator {
        position: absolute;
        left: 0;
        top: 650px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp.ampon .stepindicator,
    .damp.history .stepindicator {
        visibility: visible;
    }

    .damp .command {
        left: 190px;
    }

    .damp .output {
        left: 665px;
    }

    .damp .regposition {
        top: 0;
        left: 670px;
    }

    .damp .temp {
        width: 200px;
        height: 200px;
        z-index: 1;
    }

    .damp .airTemp {
        top: 30px;
        left: 50px;
    }

    .damp .shuntTemp {
        top: 450px;
        left: 50px;
    }

    .damp .regTemp {
        top: 450px;
        left: 450px;
    }

    .damp .transfoTemp {
        top: 450px;
        left: 850px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<gauge class="temp airTemp" options="airtemp"></gauge>
<div id="template">
    <gauge class="command" options="command"></gauge>
    <gauge class="output" options="output"></gauge>
    <gauge class="regposition" options="regpos"></gauge>
    <gauge class="temp shuntTemp" options="shunttemp"></gauge>
    <gauge class="temp regTemp" options="regtemp"></gauge>
    <gauge class="temp transfoTemp" options="transfotemp"></gauge>
</div>