<style>
    .damp #template {
        position: relative;
        background: transparent url('templates/amp/images/807SE.png') no-repeat center center;
        width: 1104px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .damp .gauge {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .damp .airTemp {
        left: 520px;
        top: 230px;
        z-index: 1;
    }

    .damp .stepindicator {
        position: absolute;
        left: 0;
        top: 650px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp.ampon .stepindicator,
    .damp.history .stepindicator {
        visibility: visible;
    }

    .damp .leftCurrent {
        left: 60px;
        top: 230px;
    }

    .damp .rightCurrent {
        left: 820px;
        top: 230px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<div id="template">
    <gauge class="leftCurrent" options="left"></gauge>
    <gauge class="airTemp" options="airtemp"></gauge>
    <gauge class="rightCurrent" options="right"></gauge>
</div>