<style>
    .damp #template {
        position: relative;
        background: transparent url('templates/amp/images/GI30.png') no-repeat center center;
        height: 755px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .damp .gauge {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .damp .gauge.centerind {
        position: absolute;
        width: 200px;
        height: 50px;
    }

    .damp .stepindicator {
        position: absolute;
        left: 0;
        top: 650px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp.ampon .stepindicator,
    .damp.history .stepindicator {
        visibility: visible;
    }

    .damp .airTemp {
        left: calc(50% - 654px);
        top: 30px;
        z-index: 1;
    }

    .damp .regtemp {
        left: calc(50% + 162px);
        top: 30px;
        z-index: 1;
    }

    .damp .pwrsupplytemp {
        left: calc(50% - 100px);
        top: 60px;
        z-index: 1;
    }

    .damp .current1 {
        left: calc(50% - 464px);
        top: 280px;
    }

    .damp .center1 {
        left: calc(50% - 464px);
        top: 480px;
    }

    .damp .current2 {
        left: calc(50% - 258px);
        top: 280px;
    }

    .damp .center2 {
        left: calc(50% - 258px);
        top: 480px;
    }

    .damp .current3 {
        left: calc(50% + 58px);
        top: 280px;
    }

    .damp .center3 {
        left: calc(50% + 58px);
        top: 480px;
    }

    .damp .current4 {
        left: calc(50% + 264px);
        top: 280px;
    }

    .damp .center4 {
        left: calc(50% + 264px);
        top: 480px;
    }

    .damp .modulation {
        left: calc(50% + 464px);
        top: 30px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<div id="template">
    <gauge class="airTemp" options="airtemp"></gauge>
    <gauge class="regtemp" options="regtemp"></gauge>
    <gauge class="pwrsupplytemp" options="pwrtemp"></gauge>
    <gauge class="current1" options="tube1"></gauge>
    <gauge class="current2" options="tube2"></gauge>
    <gauge class="current3" options="tube3"></gauge>
    <gauge class="current4" options="tube4"></gauge>
    <gauge class="center1 centerind" options="out1"></gauge>
    <gauge class="center2 centerind" options="out2"></gauge>
    <gauge class="center3 centerind" options="out3"></gauge>
    <gauge class="center4 centerind" options="out4"></gauge>
    <gauge class="modulation" options="modulation"></gauge>
</div>