<style>
    .damp #template {
        position: relative;
        background: transparent url('') no-repeat top center;
        height: 755px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .damp .gauge {
        position: absolute;
        width: 150px;
        height: 150px;
    }

    .damp .gauge.centerind {
        position: absolute;
        width: 150px;
        height: 40px;
    }

    .damp .stepindicator {
        position: absolute;
        left: 0px;
        top: 700px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp.ampon .stepindicator,
    .damp.history .stepindicator {
        visibility: visible;
    }

    .damp .airTemp {
        left: calc(50% - 75px);
        top: 50px;
        z-index: 1;
    }

    .damp .regtemp {
        left: calc(50% - 75px);
        top: 50px;
        z-index: 1;
        display: none;
    }

    .damp .current1 {
        left: calc(50% - 494px);
        top: 360px;
    }

    .damp .center1 {
        left: calc(50% - 494px);
        top: 510px;
    }

    .damp .current3 {
        left: calc(50% + 138px);
        top: 360px;
    }

    .damp .center3 {
        left: calc(50% + 138px);
        top: 510px;
    }
    
    .damp .current2 {
        left: calc(50% - 288px);
        top: 360px;
    }

    .damp .center2 {
        left: calc(50% - 288px);
        top: 510px;
    }

    .damp .current4 {
        left: calc(50% + 344px);
        top: 360px;
    }

    .damp .center4 {
        left: calc(50% + 344px);
        top: 510px;
    }
    
    .damp .modulation {
        left: calc(50% + 484px);
        top: 30px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<div id="template">
    <gauge class="airTemp" options="airtemp"></gauge>
    <gauge class="regtemp" options="regtemp"></gauge>
    <gauge class="current1" options="tube1"></gauge>
    <gauge class="current2" options="tube2"></gauge>
    <gauge class="current3" options="tube3"></gauge>
    <gauge class="current4" options="tube4"></gauge>
    <gauge class="center1 centerind" options="out1"></gauge>
    <gauge class="center2 centerind" options="out2"></gauge>
    <gauge class="center3 centerind" options="out3"></gauge>
    <gauge class="center4 centerind" options="out4"></gauge>
    <gauge class="modulation" options="modulation"></gauge>
</div>