<style>
    .damp #template {
        position: relative;
        background: transparent url('templates/amp/images/QQE0312-DPP.png') no-repeat top center;
        height: 755px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .damp .gauge {
        position: absolute;
        width: 150px;
        height: 150px;
    }

    .damp .gauge.centerind {
        position: absolute;
        width: 150px;
        height: 40px;
    }

    .damp .stepindicator {
        position: absolute;
        left: 0px;
        top: 700px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp.ampon .stepindicator,
    .damp.history .stepindicator {
        visibility: visible;
    }

    .damp .airTemp {
        left: calc(50% - 644px);
        top: 30px;
        z-index: 1;
    }

    .damp .leftregtemp {
        left: calc(50% - 348px);
        top: 50px;
        z-index: 1;
    }

    .damp .rightregtemp {
        left: calc(50% + 162px);
        top: 50px;
        z-index: 1;
    }

    .damp .current1 {
        left: calc(50% - 444px);
        top: 480px;
    }

    .damp .center1 {
        left: calc(50% - 444px);
        top: 630px;
    }

    .damp .current3 {
        left: calc(50% - 444px);
        top: 260px;
    }

    .damp .center3 {
        left: calc(50% - 444px);
        top: 410px;
    }
    
    .damp .current2 {
        left: calc(50% - 238px);
        top: 480px;
    }

    .damp .center2 {
        left: calc(50% - 238px);
        top: 630px;
    }

    .damp .current4 {
        left: calc(50% - 238px);
        top: 260px;
    }

    .damp .center4 {
        left: calc(50% - 238px);
        top: 410px;
    }
    
    .damp .current6 {
        left: calc(50% + 78px);
        top: 480px;
    }

    .damp .center6 {
        left: calc(50% + 78px);
        top: 630px;
    }

    .damp .current8 {
        left: calc(50% + 78px);
        top: 260px;
    }

    .damp .center8 {
        left: calc(50% + 78px);
        top: 410px;
    }
    
    .damp .current5 {
        left: calc(50% + 284px);
        top: 480px;
    }

    .damp .center5 {
        left: calc(50% + 284px);
        top: 630px;
    }
    
    .damp .current7 {
        left: calc(50% + 284px);
        top: 260px;
    }

    .damp .center7 {
        left: calc(50% + 284px);
        top: 410px;
    }

    .damp .modulation {
        left: calc(50% + 484px);
        top: 30px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<div id="template">
    <gauge class="airTemp" options="airtemp"></gauge>
    <gauge class="leftregtemp" options="leftregtemp"></gauge>
    <gauge class="rightregtemp" options="rightregtemp"></gauge>
    <gauge class="current1" options="tube1"></gauge>
    <gauge class="current2" options="tube2"></gauge>
    <gauge class="current3" options="tube3"></gauge>
    <gauge class="current4" options="tube4"></gauge>
    <gauge class="current5" options="tube5"></gauge>
    <gauge class="current6" options="tube6"></gauge>
    <gauge class="current7" options="tube7"></gauge>
    <gauge class="current8" options="tube8"></gauge>
    <gauge class="center1 centerind" options="out1"></gauge>
    <gauge class="center2 centerind" options="out2"></gauge>
    <gauge class="center3 centerind" options="out3"></gauge>
    <gauge class="center4 centerind" options="out4"></gauge>
    <gauge class="center5 centerind" options="out5"></gauge>
    <gauge class="center6 centerind" options="out6"></gauge>
    <gauge class="center7 centerind" options="out7"></gauge>
    <gauge class="center8 centerind" options="out8"></gauge>
    <gauge class="modulation" options="modulation"></gauge>
</div>