<style>
    .damp #template {
        position: relative;
        background: transparent url('templates/amp/images/QQE0312-TPP.png') no-repeat top center;
        height: 755px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .damp .gauge {
        position: absolute;
        width: 150px;
        height: 150px;
    }

        .damp .gauge.centerind {
            position: absolute;
            width: 150px;
            height: 40px;
        }

    .damp .stepindicator {
        position: absolute;
        left: 0;
        top: 700px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp .ampon .stepindicator,
    .damp .history .stepindicator {
        visibility: visible;
    }

    .damp .airTemp {
        left: calc(50% - 644px);
        top: 30px;
        z-index: 1;
    }

    .damp .g2regtemp1 {
        left: calc(50% - 348px);
        top: 50px;
        z-index: 1;
    }

    .damp .g2regtemp2 {
        left: calc(50% + 198px);
        top: 50px;
        z-index: 1;
    }

    .damp .anoderegtemp {
        left: calc(50% + 484px);
        top: 30px;
        z-index: 1;
    }

    .damp .powersupplytemp {
        left: calc(50% - 75px);
        top: 50px;
        z-index: 1;
    }

    .damp .current1 {
        left: calc(50% - 375px);
        top: 260px;
    }

    .damp .center1 {
        left: calc(50% - 375px);
        top: 410px;
    }

    .damp .current2 {
        left: calc(50% - 375px);
        top: 480px;
    }

    .damp .center2 {
        left: calc(50% - 375px);
        top: 630px;
    }

    .damp .current3 {
        left: calc(50% - 75px);
        top: 260px;
    }

    .damp .center3 {
        left: calc(50% - 75px);
        top: 410px;
    }

    .damp .current4 {
        left: calc(50% - 75px);
        top: 480px;
    }

    .damp .center4 {
        left: calc(50% - 75px);
        top: 630px;
    }

    .damp .current5 {
        left: calc(50% + 225px);
        top: 260px;
    }

    .damp .center5 {
        left: calc(50% + 225px);
        top: 410px;
    }

    .damp .current6 {
        left: calc(50% + 225px);
        top: 480px;
    }

    .damp .center6 {
        left: calc(50% + 225px);
        top: 630px;
    }

    .damp .modulation {
        left: calc(50% + 484px);
        top: 310px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<div id="template">
    <gauge class="airTemp" options="airtemp"></gauge>
    <gauge class="g2regtemp1" options="g2reg1temp"></gauge>
    <gauge class="g2regtemp2" options="g2reg2temp"></gauge>
    <gauge class="anoderegtemp" options="htregtemp"></gauge>
    <gauge class="powersupplytemp" options="pwrtemp"></gauge>
    <gauge class="current1" options="tube1"></gauge>
    <gauge class="current2" options="tube2"></gauge>
    <gauge class="current3" options="tube3"></gauge>
    <gauge class="current4" options="tube4"></gauge>
    <gauge class="current5" options="tube5"></gauge>
    <gauge class="current6" options="tube6"></gauge>
    <gauge class="center1 centerind" options="out1"></gauge>
    <gauge class="center2 centerind" options="out2"></gauge>
    <gauge class="center3 centerind" options="out3"></gauge>
    <gauge class="center4 centerind" options="out4"></gauge>
    <gauge class="center5 centerind" options="out5"></gauge>
    <gauge class="center6 centerind" options="out6"></gauge>
    <gauge class="modulation" options="modulation"></gauge>
</div>