<style>
    .damp #template
    {
        position: relative;
        background: transparent url('templates/amp/images/QQE0312-SPUD.png') no-repeat center center;
        width: 994px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .damp .gauge
    {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .damp .airTemp
    {
        left: 100px;
        top: 350px;
        z-index: 1;
    }

    .damp .stepindicator
    {
        position: absolute;
        left: 0px;
        top: 650px;
        width: 400px;
        height: 100px;
        z-index: 1;
		visibility: visible;
    }

	.damp.ampon .stepindicator,
    .damp.history .stepindicator
	{
		visibility: visible;
	}

    .damp .lefta1
    {
        left: 104px;
        top: 135px;
    }

    .damp .lefta2
    {
        left: 304px;
        top: 135px;
    }

    .damp .righta1
    {
        left: 520px;
        top: 110px;
    }

    .damp .righta2
    {
        left: 720px;
        top: 110px;
    }

    .damp .regLTemp
    {
        left: 300px;
        top: 400px;
    }

    .damp .regRTemp
    {
        left: 725px;
        top: 400px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<gauge class="airTemp" options="airtemp"></gauge>
<div id="template">
    <gauge class="lefta1" options="lefta1"></gauge>
    <gauge class="lefta2" options="lefta2"></gauge>
    <gauge class="righta1" options="righta1"></gauge>
    <gauge class="righta2" options="righta2"></gauge>
    <gauge class="regLTemp" options="regltemp"></gauge>
    <gauge class="regRTemp" options="regrtemp"></gauge>
</div>