<style>
    .damp #template {
        position: relative;
        background: transparent url('templates/amp/images/QQE04-20PP.png') no-repeat center center;
        height: 755px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .damp .gauge {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .damp .gauge.centerind {
        position: absolute;
        width: 200px;
        height: 50px;
    }

    .damp .stepindicator {
        position: absolute;
        left: 340px;
        top: 550px;
        width: 400px;
        height: 100px;
        z-index: 1;
        visibility: visible;
    }

    .damp.ampon .stepindicator,
    .damp.history .stepindicator {
        visibility: visible;
    }

    .damp .current1 {
        left: calc(50% - 310px);
        top: 170px;
    }

    .damp .center1 {
        left: calc(50% - 310px);
        top: 370px;
    }

    .damp .current2 {
        left: calc(50% + 118px);
        top: 160px;
    }

    .damp .center2 {
        left: calc(50% + 118px);
        top: 360px;
    }
</style>
<stepindicator options="steps"></stepindicator>
<div id="template">
    <gauge class="current1" options="tube1"></gauge>
    <gauge class="current2" options="tube2"></gauge>
    <gauge class="center1 centerind" options="out1"></gauge>
    <gauge class="center2 centerind" options="out2"></gauge>
</div>