<div id="pageContent" ng-class="getSelectedAmpClass()">
	<div class="panel leftpanel inline uk-button" ng-class="getPanelButtonClass('#menu')" data-uk-offcanvas="{target:'#menu'}"></div>
	<div id="menu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar">
			<ul class='uk-nav uk-nav-offcanvas'>
				<div class="label amp{{info.id}}" ng-repeat="info in ampInfos" ng-click="goto(info.id)" ng-class="getAmpLabelClass(info.id)" data-uk-nav=''>
					{{info.name}}
				</div>
				<!--<div class="label" ng-click="goto()" data-uk-nav=''>
					Logs Download
				</div>-->
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="inline" ng-hide="selectedAmp">
			Select an amplifier..
		</div>
		<div class="title inline">
			{{selectedAmp.name}}
		</div>
		<div class="status inline">
			{{getAmpStatusLabel()}}
		</div>
		<titlebox fold-element="history" folded="historyFolded" on-fold-changed="historyFoldChanged"></titlebox>
		<div class="errorBox" ng-show="lastErr" ng-click="lastErr = null">
			{{lastErr}}
		</div>
		<div id="history" class="titlebox-content titlebox-folded" ng-class="{'busy-opacity': historyTracker.active()}" >
			<div class="busy-panel" ng-show="historyTracker.active()"></div>
			<multiselect id="selhist" options="mshistory" isReadOnly="true" ng-show="selectedAmp"></multiselect>
			<slider id="slidehist" options="slhistory" ng-hide="!selectedHistory"></slider>
		</div>
		<div id="ampinfos"></div>
	</div>
	<div class="panel rightpanel inline uk-button" ng-class="getPanelButtonClass('#infos')" data-uk-offcanvas="{target:'#infos'}"></div>
	<div id="infos" class="uk-offcanvas" data-uk-nav=''>
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
			<ul class='uk-nav uk-nav-offcanvas'>
				<p class="name">
					<a href="{{selectedAmp.url}}">{{selectedAmp.name}}</a>
				</p>
				<p class="descr">
					Description:
					<br>
					{{selectedAmp.description}}
				</p>
				<p class="tech">
					Damping Factor: {{selectedAmp['dampingfactor']}}
					<br>
					Power Max: {{selectedAmp.power}}
					<br>
					Bandwidth: {{selectedAmp.bandwidth}}
					<br>
					Gain: {{selectedAmp['amplificationfactor']}}
					<br>
					Inverter: {{selectedAmp.inverter}}
				</p>
				<p class="tubes">
					Tubes:
					<span ng-repeat="tube in selectedAmp.tubes">
						<br>
						{{tube.name}} </span>
				</p>
			</ul>
		</div>
	</div>
</div>
