<div class="titlebox" style="position: relative; z-index: 0;">
	<span class="titlebox-title">
		{{text}}
	</span>
	<span class="icon-plus titlebox-button" ng-click="toggle(true)" ng-class="{rotate45: open}" style="z-index: 1;"></span>
</div>

