@-moz-keyframes spin {
  0% {
    .transform(rotate(0deg));
  }

  100% {
    .transform(rotate(359deg));
  }
}
@-webkit-keyframes spin {
  0% {
    .transform(rotate(0deg));
  }

  100% {
    .transform(rotate(359deg));
  }
}
@-o-keyframes spin {
  0% {
    .transform(rotate(0deg));
  }

  100% {
    .transform(rotate(359deg));
  }
}
@-ms-keyframes spin {
  0% {
    .transform(rotate(0deg));
  }

  100% {
    .transform(rotate(359deg));
  }
}
@keyframes spin {
  0% {
    .transform(rotate(0deg));
  }

  100% {
    .transform(rotate(359deg));
  }
}

@-moz-keyframes vflip {
  to {
    .transform(rotateX(180deg));
  }
}
@-webkit-keyframes vflip {
  to {
    .transform(rotateX(180deg));
  }
}
@-o-keyframes vflip {
  to {
    .transform(rotateX(180deg));
  }
}
@-ms-keyframes vflip {
  to {
    .transform(rotateX(180deg));
  }
}
@keyframes vflip {
  to {
    .transform(rotateX(180deg));
  }
}

@-moz-keyframes vrestore {
  to {
    .transform(rotate(0deg));
  }
}
@-webkit-keyframes vrestore {
  to {
    .transform(rotate(0deg));
  }
}
@-o-keyframes vrestore {
  to {
    .transform(rotate(0deg));
  }
}
@-ms-keyframes vrestore {
  to {
    .transform(rotate(0deg));
  }
}
@keyframes vrestore {
  to {
    .transform(rotate(0deg));
  }
}
