html.damp,
html.damp body{
    width: 100%;
    height: 100%;
    position: absolute;
}

.damp {    
    .uk-nav .amp128,
    .uk-nav .amp209,
    .uk-nav .amp208 {
        display: none;
    }

    .black-shadow {
        box-shadow: 0px 4px 5px rgba(0,0,0,0.05);
    }

    .busy-opacity {
        opacity: 0.5;
    }

    .busy-panel {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: transparent;
        cursor: wait;
        font-size: 200%;
        font-family: damp;
        text-align: center;
    }

    .busy-panel:after {
        content: @iconWait;
        .animation(spin, 2s, infinite, linear);
    }

    .errorBox {
        color: rgba(241, 80, 88, 0.8);
    }

    body {
        font-family: 'titilliumregular', 'PT Sans', Arial, 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
        overflow: hidden;
        background: transparent url(./images/bkg01.jpg) repeat 0 0;
        background-size: cover;
        color: rgb(255, 255, 255);
    }

    #pageContent,
    .main,
    .panel {
        height: 100%;
    }

    .title {
        margin: 5px 0;
        font-size: 200%;
    }

    .ampon .title {
        color: @ampSelectedColor;
    }

    .status {
        margin: 5px 20px;
        font-size: 130%;
    }

    .ampon .status {
        color: @ampSelectedColor;
    }

    .uk-offcanvas-bar {
        background: rgba(33, 33, 33, 0.9);
    }

    .panel {
        color: rgba(255, 255, 255, 0.4);
        background: transparent;
        cursor: pointer;
        font-size: 200%;
        font-family: damp;
        padding-top: 20px;
        position: absolute;
        top: 0px;
    }

    .panel.uk-button {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transition: -webkit-transform 0.5s ease;
        -moz-transition: -moz-transform 0.5s ease;
        -o-transition: -o-transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .panel.uk-button:hover,
    .panel.uk-button:focus {
        background: rgba(38, 38, 38, 0.9);
    }

    .panel.uk-button:hover,
    .panel.uk-button:focus {
        color: rgba(255, 255, 255, 0.8);
    }

    .panel.uk-button.open:after {
        -webkit-transition: -webkit-transform 0.5s ease;
        -moz-transition: -moz-transform 0.5s ease;
        -o-transition: -o-transform 0.5s ease;
        transition: transform 0.5s ease;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .leftpanel {
        left: 0px;
    }

    .rightpanel {
        right: 0px;
    }

    .leftpanel:after {
        content: @iconRight;
    }

    .rightpanel:after {
        content: @iconLeft;
    }

    .content {
        position: relative;
        padding: 20px 60px;
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        min-width: 700px;
    }

    #menu .label {
        margin: 10px 2px;
        padding-bottom: 5px;
        cursor: pointer;
        border-bottom: 1px solid #aaa;
    }

    #menu .label.ampon {
        color: @ampActiveColor;
    }

    #menu .label.selected {
        color: @ampSelectedColor;
    }

    #menu .ampon:after {
        font-size: 120%;
        font-family: damp;
        content: @iconSpin;
        margin-left: 10px;
        display: inline-block;
    }

    #infos .uk-nav {
        margin: 5px;
        cursor: default;
    }

    #infos .name a,
    #infos .name a:visited {
        color: #fff;
        font-size: 120%;
    }

    #infos .descr,
    #infos .tech,
    #infos .tubes {
        border: 1px solid #aaa;
        padding: 2px 3px;
    }

    #menu .ampon.animate:after {
        .animation(spin, 2s, infinite, linear);
    }

    .titlebox {
        margin-bottom: 20px;
    }

    .titlebox-content {
        position: relative;
        height: 60px;
        overflow: visible;
        .transition(height ease .5s);
    }

    #ampinfos {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    #history {
        margin-top: 10px;
    }

    #selhist {
        width: 400px;
    }

    #slidehist {
        margin-top: 10px;
        width: 1000px;
        height: 100px;
        display: inline-block;
        position: relative;
    }

    @font-face {
        font-family: 'damp';
        src: url('../font/damp.eot?5170121');
        src: url('../font/damp.eot?5170121#iefix') format('embedded-opentype'), url('../font/damp.woff?5170121') format('woff'), url('../font/damp.ttf?5170121') format('truetype'), url('../font/damp.svg?5170121#damp') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@iconSpin: '\e800';
@iconLeft: '\e801';
@iconRight: '\e802';
@iconWait: '\e803';
