.black-shadow {
    box-shadow: 0px 4px 5px rgba(0,0,0,0.05);
}

.datepicker.transparent {
    .transition(opacity linear 0.2s);
    opacity: 0;
}

.datepicker-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 110;
}

.datepicker {
    z-index: 111;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    .transition(opacity linear 0.2s);

    .ui-datepicker.ui-widget-content {
        font-family: titilliumlight;
        font-size: 13px;
        background: @overBackgroundColor;
        border: none;
        border-radius: 0px;
        color: @overForeColor;
        padding: 0;
        .black-shadow;
    }

    .ui-datepicker-title {
        font-weight: normal;
    }

    .ui-datepicker-header.ui-widget-header {
        background: none;
        border: none;
        border-radius: 0px;
        padding: 1em 0;
    }

    .ui-datepicker-header .ui-icon {
        background: none;
        border: none;
        width: 0px;
    }

    .ui-datepicker-header .ui-datepicker-prev,
    .ui-datepicker-header .ui-datepicker-next,
    .ui-datepicker-header .ui-datepicker-prev.ui-state-hover,
    .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
        background: none;
        border: none;
        top: 1em;
        font-family: datepicker;
        color: @overForeColor;
        cursor: pointer;
        padding: 0 0.6em;
        box-sizing: border-box;
    }

    .ui-datepicker-header .ui-datepicker-prev,
    .ui-datepicker-header .ui-datepicker-prev.ui-state-hover {
        left: 10px;
    }

    .ui-datepicker-header .ui-datepicker-next,
    .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
        right: 10px;
    }

    .ui-datepicker-header .ui-datepicker-prev:after {
        content: @icon-left;
    }

    .ui-datepicker-header .ui-datepicker-next:after {
        content: @icon-right;
    }

    .ui-datepicker-calendar thead {
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-top: 1px solid rgba(0,0,0,0.3);
    }

    .ui-datepicker-calendar tbody {
    }

    .ui-datepicker-calendar td {
        padding: 0;
    }

    .ui-datepicker-calendar .ui-state-default {
        border: none;
        background: none;
        color: inherit;
        text-align: center;
    }

    .ui-datepicker-calendar .ui-state-default.ui-state-hover {
        color: @overHoverForeColor;
    }

    .ui-datepicker-calendar .ui-state-default.ui-state-highlight {
        background-color: @overSelectedBackgroundColor;
        color: @overSelectedForeColor;
    }

    .ui-datepicker-calendar .ui-state-default.ui-state-active {
        background-color: @overActiveBackgroundColor;
        color: @activeForeColor;
    }

    .ui-datepicker-calendar .ui-state-default.ui-state-highlight.ui-state-hover {
        color: @overSelectedHoverForeColor;
    }
}

@font-face {
    font-family: 'datepicker';
    src: url('../font/datepicker.eot?21518755');
    src: url('../font/datepicker.eot?21518755#iefix') format('embedded-opentype'), url('../font/datepicker.woff?21518755') format('woff'), url('../font/datepicker.ttf?21518755') format('truetype'), url('../font/datepicker.svg?21518755#datepicker') format('svg');
    font-weight: normal;
    font-style: normal;
}

@icon-left: '\e800';
@icon-right: '\e801';
