.titlebox 
{
  display: flex;
}

.titlebox .titlebox-title {
  border-top: 1px solid rgba(255,255,255,0.4);
  font-family: @light;
  font-size: 1.35em;
  z-index: -1;  
  box-sizing: border-box;
  margin-top: 8px;
  margin-right: 10px;
  flex: auto;
  display: -ms-inline-flexbox;
}

.titlebox .titlebox-button {
  width: 10px;
  height: 10px;
  padding-right: 2px;
  cursor: pointer;
  display: inline-box;
  font-family: "titlebox";  
  font-size: 100%;
  .transition(transform  ease  .2s);
  .transform(rotate(-45deg));
}

.titlebox.titlebox-folded .titlebox-button {
  .transition(transform  ease  .2s);
  .transform(rotate(0deg));
}

.titlebox-content
{
  height: 300px;
  .transition(height ease .5s);
}

.titlebox-content.titlebox-folded {
  overflow: hidden;
  height: 0;
  .transition(height ease .5s);
}

@font-face {
  font-family: 'titlebox';
  src: url('../font/titlebox.eot?46113324');
  src: url('../font/titlebox.eot?46113324#iefix') format('embedded-opentype'),
       url('../font/titlebox.woff?46113324') format('woff'),
       url('../font/titlebox.ttf?46113324') format('truetype'),
       url('../font/titlebox.svg?46113324#titlebox') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-plus:before { content: '\e800'; } /* '' */